$primary-header: #ffffff;
$subtext-color: #d3d3d3;
$form-panel-bg: #f2f2f2;
$form-blue: #348fbc;
$form-disabled: #909090;
$selected-option: #212121;

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/car-finder-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#finderContainer {
  background-color: $form-panel-bg;
  display: flex;
  width: 800px;
  height: 200px;
}
